@import "bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
:root {
    /**
  @color declaration
  */
    --clr-common-white: #ffffff;
    --clr-common-black: #000000;
    --clr-common-placeholder: #cdcdcd;
    --clr-common-heading: #333333;
    --clr-common-body-text: #111111;
    --clr-theme-1: #f8a507;
    --clr-theme-2: #175b03;
    --clr-theme-3: #ffa300;
    --clr-text-primary: #ffffff;
    --clr-text-secondary: #111111;
    --clr-text-1: #175b03;
    --clr-text-2: #e1e1e1;
    --clr-text-3: #333333;
    --clr-text-4: #858585;
    --clr-text-5: #7c7c7c;
    --clr-text-6: #d9d9d9;
    --clr-text-7: #c1c1c1;
    --clr-text-8: #adadad;
    --clr-text-9: #9d9d9d;
    --clr-text-10: #7a7a7a;
    --clr-text-11: #404040;
    --clr-text-12: #707070;
    --clr-text-13: #f87a58;
    --clr-text-14: #bababa;
    --clr-text-15: #c75773;
    --clr-text-16: #705221;
    --clr-text-17: #ff9f03;
    --clr-text-18: #3a6d3a;
    --clr-text-19: #2e2e2e;
    --clr-text-20: #111111;
    --clr-bg-gray-1: #f6f6f6;
    --clr-bg-footer: #0e1c41;
    --clr-bg-pink: #fff6f9;
    --clr-bg-1: #fffcfb;
    --clr-bg-2: #f1f1f1;
    --clr-bg-3: #fff1f5;
    --clr-bg-4: #f8a507;
    --clr-bg-5: #202020;
    --clr-bg-6: #2c2c2c;
    --clr-bg-7: #414141;
    --clr-bg-8: #323232;
    --clr-bg-9: #363636;
    --clr-bg-10: #f2f2f2;
    --clr-bg-11: #fbfbfb;
    --clr-bg-12: #ebebeb;
    --clr-bg-13: #fafafa;
    --clr-bg-14: #c4c4c4;
    --clr-bg-15: #d9d9d9;
    --clr-bg-16: #fff9fa;
    --clr-bg-17: #fff3f6;
    --clr-bg-18: #fff0f0;
    --clr-bg-19: #fff7ea;
    --clr-bg-20: #fafff8;
    --clr-bg-21: #fff1f5;
    --clr-border-1: #d9d9d9;
    --clr-border-2: #404040;
    --clr-border-3: #cecece;
    --clr-border-4: #e6e6e6;
    --clr-footer-1: #878787;
    --clr-gradient-1: linear-gradient(90deg, #f8a507 0%, #f87a58 100%);
    --clr-gradient-2: linear-gradient(90deg, #ff6339 0%, #ff2259 100%);
    --clr-gradient-3: linear-gradient(90deg, #fea501 0%, #e64652 96.62%);
    --clr-gradient-4: linear-gradient(134.41deg, #ffa300 3.81%, #f87a58 97.09%);
    --clr-gradient-5: linear-gradient(90deg, #fea501 0%, #e64652 96.62%);
    --clr-gradient-6: linear-gradient(
        to bottom,
        #ff9c03,
        #ff9c03,
        #ee2e67,
        #ee2e67
    );
    --clr-gradient-7: linear-gradient(91.11deg, #f8a507 -2.47%, #f87a58 91.34%);
    --clr-gradient-8: linear-gradient(91.95deg, #f87a58 0%, #f8a507 99.23%);
    --clr-gradient-9: linear-gradient(
        90deg,
        #4295f7,
        #b258f8,
        #b258f8,
        #4295f7
    );
    --clr-gradient-10: linear-gradient(
        90deg,
        #f7c442,
        #f87a58,
        #f87a58,
        #f7c442
    );
    --clr-gradient-11: linear-gradient(
        90deg,
        #f721e2,
        #db3a64,
        #db3a64,
        #f721e2
    );
    --clr-gradient-12: linear-gradient(
        90deg,
        #21eaf7,
        #3a71db,
        #3a71db,
        #21eaf7
    );
    --clr-gradient-13: linear-gradient(
        90deg,
        #25f721,
        #099e33,
        #099e33,
        #25f721
    );
    --clr-gradient-14: linear-gradient(
        90deg,
        #f87a58,
        #f8a507,
        #f8a507,
        #255946
    );
    --clr-gradient-15: linear-gradient(180deg, #f87a58 0%, #f8a507 100%);
    /**
  @font weight declaration
  */
    --bd-fw-normal: normal;
    --bd-fw-thin: 100;
    --bd-fw-elight: 200;
    --bd-fw-light: 300;
    --bd-fw-regular: 400;
    --bd-fw-medium: 500;
    --bd-fw-sbold: 600;
    --bd-fw-bold: 700;
    --bd-fw-ebold: 800;
    --bd-fw-black: 900;
    /**
  @font size declaration
  */
    --bd-fs-body: 16px;
    --bd-fs-p: 16px;
    --bd-fs-h1: 80px;
    --bd-fs-h2: 50px;
    --bd-fs-h3: 24px;
    --bd-fs-h4: 20px;
    --bd-fs-h5: 16px;
    --bd-fs-h6: 14px;
}

p {
    font-size: var(--bd-fs-p);
    font-weight: var(--bd-fw-normal);
    color: var(--clr-text-3);
    margin-bottom: 15px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

a,
p {
    font-size: var(--bd-fs-p);
    font-weight: var(--bd-fw-normal);
    color: var(--clr-text-3);
    margin-bottom: 15px;
    line-height: 26px;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: var(--clr-text-3);
    }
}

a,
.btn,
button,
span,
svg,
p,
input,
select,
textarea,
li,
img,
svg,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.btn,
button,
span,
svg,
p,
input,
select,
textarea,
li,
img,
svg,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

body {
    font-family: "Poppins", sans-serif;
}
.main-color {
    color: #f8a507;
}

.bg-main {
    background-color: #f8a507;
}

.bg-dark {
    background-color: #151515 !important;
}

.btn-thm {
    background-color: #f8a507;
    border-color: #f8a507;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        background-color: #f8a507;
        border-color: #f8a507;
        color: #fff;
    }
}

.btn-lg {
    padding: 3px 30px;
    font-size: 16px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1500px;
    }
}
video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.signin__area {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.sign__center-wrapper {
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    z-index: 1;
}

.sign__main-wrapper {
    display: grid;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(247, 66, 111, 0.03);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    grid-template-columns: 1fr 527px;
    overflow: hidden;
    margin: 30px 0;
    width: 1130px;
    max-width: 1130px;
}
@media (max-width: 575px),
    only screen and (min-width: 576px) and (max-width: 767px),
    only screen and (min-width: 768px) and (max-width: 991px) {
    .sign__main-wrapper {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .sign__main-wrapper {
        grid-template-columns: 1fr 50%;
    }
}
.sign__left {
    padding: 43px 70px;
}
@media only screen and (min-width: 576px) and (max-width: 767px),
    only screen and (min-width: 768px) and (max-width: 991px),
    only screen and (min-width: 992px) and (max-width: 1199px) {
    .sign__left {
        padding: 43px 50px;
    }
}
@media (max-width: 450px) {
    .sign__left {
        padding: 43px 20px;
    }
}
.sign__header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.sign__link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    gap: 20px;
}
.sign__link-text {
    color: #707070;
}

.sign__link-text:hover {
    color: var(--clr-theme-1);
}
.sign__link-active {
    color: var(--clr-theme-1);
    font-weight: var(--bd-fw-sbold);
}
.sign__link-active:focus {
    color: var(--clr-theme-1);
}
.sign__link-active:hover {
    color: var(--clr-theme-1);
}
.sign__input {
    position: relative;
    margin-bottom: 15px;
}
.sign__input span {
    position: absolute;
    top: 14px;
    inset-inline-start: 20px;
}
.sign__input span i {
    color: var(--clr-text-9);
}
.sign__input input {
    width: 100%;
    height: 55px;
    border: 1px solid var(--clr-border-4);
    padding-inline-start: 50px;
    padding-inline-end: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
}
// .sign__input input:focus {
//     border-color: var(--clr-theme-1);
// }

.sign__title {
    font-weight: var(--bd-fw-sbold);
    margin-bottom: 15px;
    color: var(--clr-bg-4);
}

@media (max-width: 450px) {
    .sign__title {
        font-size: 20px;
    }
}
.sign__title-wrapper > p {
    color: var(--clr-text-10);
    margin-bottom: 0;
}
.sign__title-wrapper img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.sign__action {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}
.sign__check {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: -ms-inline-flexbox;
    align-items: center;
    gap: 10px;
}
.sign__check input.e-check-input {
    margin: 0;
    appearance: none;
    -moz-appearance: none;
    display: block;
    width: 18px;
    min-width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #b9bac1;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.sign__check input.e-check-input:checked {
    position: relative;
    background-color: var(--clr-theme-1);
    border-color: transparent;
}
.sign__check input.e-check-input:checked::after {
    box-sizing: border-box;
    position: absolute;
    font-size: 12px;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.sign__forget span a:hover {
    color: var(--clr-theme-1);
}

.if__account {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: end;
    justify-content: center;
}
.if__account p {
    margin-bottom: 0;
    color: #707070;
}
.if__account p a {
    color: var(--clr-text-secondary);
    font-weight: var(--bd-fw-medium);
}
.if__account p a:hover {
    color: var(--clr-theme-1);
}

.sign__input-thumb {
    height: 100%;
}

.sign__forget span {
    color: var(--clr-text-11);
}
.input__btn {
    font-size: 16px;
    background: #255946;
    color: var(--clr-text-primary);
    font-weight: var(--bd-fw-medium);
    border: 0;
    padding: 0 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 55px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative;
    background-position: 100% 100%;
    background-size: 300% 100%;
    z-index: 5;
}

.sign__check-text {
    color: var(--clr-text-11);
}

.form-input-error {
    border: 1.5px solid red !important;
}

p.form-error {
    color: red;
    font-size: 13px;
}

.navbar.navbar-expand-lg {
    .navbar-toggler {
        border-color: #fff;
    }
    background-color: #255946;
    .nav-link {
        color: #fff;
        margin-right: 22px;
        line-height: 10px;
        border-right: 1px solid #afafaf;

        &:hover {
            color: #d96354;
        }
    }
    .navbar-nav {
        margin: 0 auto;
    }
}

.exhibitor-details img {
    height: 80vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 10px;
}

.three_d_view_img_list {
    overflow-x: scroll;
    white-space: nowrap;

    .three_d_view_img {
        display: inline-block;
        width: 100%;
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        padding-bottom: 10px;
    }
}

.intro {
    .card {
        border: none;
        border-radius: 3px;
        height: 25vh;
        overflow: hidden;
        overflow-y: auto;
        font-size: 14px;
        margin-bottom: 30px;
        p {
            font-size: 14px;
            line-height: 20px;
            padding: 0px 10px;
        }
        .card-body {
            padding: 0;
        }
        ul {
            padding: 0;
            list-style: none;
            li {
                background-color: #dad9d9;
                padding: 10px;
                border-bottom: 2px solid #eaeaea;
            }
        }
        .card__title-inner {
            background-color: #255946;
            color: #fff;
            padding: 10px;
        }
    }
}

.center-navbar {
    background-color: #fff;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        li {
            padding: 10px 10px;
            border-right: 1px solid #afafaf;
            a {
                color: #000;
                font-size: 14px;
                font-weight: 600;
                &:hover {
                    color: #d96354;
                }
            }
        }
    }
}

.nav-tabs {
    background-color: #d96354;

    .nav-link {
        color: #fff;
        border: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #255946;
    border-color: #255946 #255946 #255946;
    border-radius: 0;
}

.nav-item button:hover {
    border-color: #255946 #255946 #255946;
}

.tab-content {
    padding: 20px;
}

.videos-list {
    h6 {
        font-size: 14px;
        font-weight: 600;
        color: #000;
        margin-bottom: 10px;
    }
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #eaeaea;
}

.navbar-chat {
    padding: 0px !important;
    .navbar-brand img {
        width: 100%;
        height: 40px;
    }
}

.chat {
    .card {
        background-color: #f2f2f2;
        border: none;
        border-radius: 0;
    }

    h6 {
        font-size: 14px;
        font-weight: 600;
        color: #000;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        p {
            font-size: 12px;
            color: #000;
            margin-top: 5px;
        }
    }

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .chat-container {
        height: 150px;
        overflow: hidden;
        overflow-y: auto;
    }

    .chat-header {
        border-bottom: 1px solid #d0d0d0;
        margin-bottom: 10px;
    }

    .chat-list {
        height: 87vh;
        overflow: hidden;
        overflow-y: auto;
        background-color: #f2f2f2;
    }

    .chat-body {
        height: 88vh;
        overflow: hidden;
        overflow-y: auto;
        margin: 20px;
    }

    .chat-message {
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .chat-body-list {
        height: 83vh;
        overflow: hidden;
        overflow-y: auto;
        background-color: #f2f2f2;
    }

    .message-form {
        height: 10vh;

        input {
            border-radius: 5px;
            padding: 10px;
            font-size: 14px;
            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
                border: 1px solid #f8a507;
            }
        }

        button {
            background-color: #616e7e;
            color: #fff;
        }
    }
}
.nav-item.dropdown {
    display: flex;
}
.profile-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.logos_landing img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
